Remove similar letter with upper and lower case consequetively

In [ ]:
def remove_upperlower(word: str):
    char = list(word)
    p1 = 0
    p2 = p1 + 1
    while p2 > p1:
        if char[p1].lower() == char[p2].lower():
            char.remove(p1)
            char.remove(p2)
            p1 += 1
            p2 += 1

        else:
            p1 += 1
            p2 += 1
    p1 += 1
    return ''.join(char)

In [ ]:
word = 'PrRreEepinsta'

In [ ]:
def remove_upperlower(word: str) -> str:
    char = list(word)
    i = 0

    while i < len(char) - 1:
        if char[i].lower() == char[i + 1].lower() and char[i] != char[i + 1]:
            # Remove both characters
            char.pop(i)
            char.pop(i)
            # Reset index to check from the start
            i = 0
        else:
            i += 1

    return ''.join(char)

# Example Usage
print(remove_upperlower("PrRreEepinsta"))  # Output: "b"

Prepinsta

In [ ]:
def check_consequtive(word: str):
    char = list(word)
    i = 0
    while i < len(char) - 1:
        if char[i].lower() == char[i + 1].lower() and char[i] != char[i + 1]:
            char.pop(i)
            char.pop(i)
            i = 0
        else:
            i += 1
    return ''.join(char)

In [ ]:
check_consequtive('PrRreEeinsta')

'Preinsta'

Problem Statement : Shyam has given a string but with some error, his task is to remove the
error and print the correct string. In the string, if the lowercase and uppercase of an alphabet
come adjacent to each other then he needs to remove these both the characters. You task is to
help Shyam in writing the code for the following problem.

In [ ]:
def swap(word1:str, word2:str) -> bool:
    list1 = list(word1)
    list2 = list(word2)
    i = 0
    count = 0
    if set(list1) == set(list2):
        while i < len(list1) :
            if list1[i] != list2[i]:
                count += 1
                i += 1
            else:
                i += 1

    if (count > 2):
        return False
    else:
        return True


    # print(set1,set2)

In [ ]:
swap('bnac', 'knab')

True

In [ ]:
def swap_2(s1:str, s2: str)->bool:
    if len(s1) != len(s2):
        return False
    if s1 == s2:
        return True
    diff = []
    for i in range(len(s1)):
        if s1[i] != s2[i]:
            diff.append(s1[i])

    if len(diff) != 2:
        return False
    # print(diff)

    i, j = diff
    return s1[i] == s2[j] and s1[j] == s2[i]

In [ ]:
def can_make_equal_with_one_swap(s1: str, s2: str) -> bool:
    if len(s1) != len(s2):
        return False
    if s1 == s2:
        return True
    diff = []
    for i in range(len(s1)):
        if s1[i] != s2[i]:
            diff.append(i)

    if len(diff) != 2:
        return False
    i, j = diff
    return s1[i] == s2[j] and s1[j] == s2[i]

# Example usage:
result = can_make_equal_with_one_swap('bnac', 'cnab')
print(result)  # Output: True

True

Problem Statement: Chloe is provided with a string that contains only the following characters: ().[].[.]. She's been tasked with determining whether the given string forms a valid parenthesis sequence or not. A valid parenthesis sequence is one where each open bracket character has a corresponding closed bracket character. Could you create an algorithmic code to assist Chloe in solving this challenge? The code should return true if the string is a valid parenthesis sequence, and false otherwise.

Input - ({[}

In [ ]:
def valid_parentheses(brackets: str) -> bool:
    brackets_dict = {
        ')':'(',
        '}':'{',
        ']':'['
    }

    stack = []
    for char in brackets:
        if char in brackets_dict.values():
            stack.append(char)
        elif char in brackets_dict:
            if not stack or stack[-1] == brackets_dict[char]:
                stack.pop()
            else:
                return False
    return len(stack) == 0

In [ ]:
valid_parentheses('({[]})')

True

In [ ]:
def reverse_binary(n: int):
    int_to_binary = bin(n)[2:]
    # ('-0b')
    reversed_binary = int_to_binary[::-1]
    return int(reversed_binary, 2)

In [ ]:
reverse_binary(11)

13

Question 5
Problem Statement : Pratigya want to write a program to concatenate the words of a given
statement , more formally she want the remove the spaces of the string and give the resultant
string. Your task is to help her in writing the program.
Constraints :
1<= s.length<= 1000
string contain spaces and alphabetic characters.
Input:
How are You
Output :
HowareYou
Explanation :
After removing spaces , HowareYou will be print

In [ ]:
def remove_space(s:str):
    # return s.replace(" ","")
    return ''.join(s.split())

In [ ]:
remove_space('How are you')

'Howareyou'

#SECOND TYPE OF PROBLEMS

Write a program to calculate the fuel consumption of your truck.The program should ask the user to enter the quantity of diesel to fill up the tank and the distance covered till the tank goes dry.Calculate the fuel consumption and display it in the format (liters per 100 kilometers).

Convert the same result to the U.S. style of miles per gallon and display the result. If the quantity or distance is zero or negative display ” is an Invalid Input”.

[Note: The US approach of fuel consumption calculation (distance / fuel) is the inverse of the European approach (fuel / distance ). Also note that 1 kilometer is 0.6214 miles, and 1 liter is 0.2642 gallons.]

In [ ]:
def calculate_fuel():
    try:
        liter = float(input("Enter the number of liters to fill the tank: "))
        if liter <= 0:
            print(f"{liter} is an Invalid Input")
            return

        distance = float(input("Enter the distance travelled: "))
        if distance <= 0:
            print(f"{distance} is an Invalid Input")
            return
        # calculation
        # us
        liters_per_100_km = (liter / distance) * 100
        print("\nLiters/100km")
        print(f"{liters_per_100_km:.2f}")

        # European
        gallons = liter * 0.2642
        miles = distance * 0.6214

        gallons_per_mile =  miles / gallons
        print("\nGallons/Mile")
        print(f"{gallons_per_mile:.2f}")

    except ValueError:
        return ("Invalid Input. Try again")

calculate_fuel()

Enter the number of liters to fill the tank: 37
Enter the distance travelled: 300

Liters/100km
12.33

Gallons/Mile
19.07

#Problem Statement –
Vohra went to a movie with his friends in a Wave theatre and during  break time he bought pizzas, puffs and cool drinks. Consider   the following prices :

    Rs.100/pizza
    Rs.20/puffs
    Rs.10/cooldrink

Generate a bill for What Vohra has bought.

Sample Input 1:

    Enter the no of pizzas bought:10
    Enter the no of puffs bought:12
    Enter the no of cool drinks bought:5

Sample Output 1:

Bill Details

    No of pizzas:10
    No of puffs:12
    No of cooldrinks:5
    Total price=1290

ENJOY THE SHOW!!!

In [ ]:
pizzas = int(input("Enter the no of pizzas bought:"))
Puffs = int(input("Enter the no of puffs bought:"))
Cool_drinks = int(input("Enter the no of cool drinks bought:"))

Total = pizzas* 100 + Puffs* 20 + Cool_drinks * 10

print("Bill Details")
print("No of pizzas:{}".format(pizzas))
print("No of Puffs:{}".format(Puffs))
print("No of cooldrinks:{}".format(Cool_drinks))
print("Total prices:{}".format(Total))

Enter the no of pizzas bought:10
Enter the no of puffs bought:12
Enter the no of cool drinks bought:5
Bill Details
No of pizzas:10
No of Puffs:12
No of cooldrinks:5
Total prices:1290

THIS IS MY CODE I AM SO PROUD OF MYSELF

INdependence day parade

In [ ]:
def min_length(n:int, segment:str):
    count = 0
    for i in range(n):
        if segment[i] == "I":
            count += 1
        if count == 2:
            break
        else:
            pass
        if count == 0:
            return 0
    return len(segment[i:])

In [ ]:
min_length(6,'IIIIII')

5

In [ ]:
def convert_ascii(s:str):
    sum_s = []
    for i in s:
        sum_s.append(ord(i))
    return sum(sum_s)

In [ ]:
convert_ascii('ABCD')

266

Input: s = "A man, a plan, a canal: Panama"

Output: true

Explanation: "amanaplanacanalpanama" is a palindrome.

In [ ]:
def isPalindrome( s: str) -> bool:
    return  ''.join(char.lower() for char in s if char.isalnum())

In [ ]:
isPalindrome("A man, a plan, a canal: Panama")

'a man, a plan, a canal: panama'

In [ ]:
s = "hello"

In [ ]:
s.isalnum()

True

In [ ]:
def even_odd(A:int, N:int):
    arr = ""
    for i in range(A, N+1):
        if i % 2 == 0:
            arr += "even"
        else:
            arr += "odd"

    return arr

In [ ]:
even_odd(1,10)

'oddevenoddevenoddevenoddevenoddeven'

In [ ]:
def deff(input1, input2):
    s = 0
    x = 0
    arr =input1
    for i in range(input2):
        if  i % 2 == 0:
            x = x ^ arr[i]
            print(x)
        else:
            s += arr[i]
    return s - x

In [ ]:
deff([10,5,6,3,7,2],6)

10
12
11

-1

In [ ]:
def findpairs(input1,input2):
    pair = []
    i = 0
    j = input1 - 1
    max_product = 0
    arr = sorted(input2)
    while j > i:
        if arr[i] + arr[j] == 18 and arr[i] < arr[j]:
            temp = arr[i] * arr[j]
            if temp >= max_product:
                max_product = temp
                pair = [arr[i], arr[j]]
            i += 1
            j -= 1

        elif arr[i] + arr[j] > 18:
            j -= 1

        else:
            i += 1
    return pair

In [ ]:
findpairs(8,[11,1,2,8,10,11,15,7])

[8, 10]

In [ ]:
def specialfib(input1):
    res = [0] * (input1 + 1)
    res[0] = 1
    res[1] = 1
    for i in range(2, input1 + 1):
        res[i] = (res[i - 1] * res[i - 1] + res[i - 2] * res[i - 2]) % 47
    return res[input1]

In [ ]:
def reverse_arr(arr,n):
    rev = arr[::-1]
    return sum(rev[i] for i in range(n) if i % 2 == 0)

In [ ]:
reverse_arr([10,20,30,40,50,60],6)

120

file format = File_1

In [ ]:
import re

def find_latest_version(S, input2):
    if input2 == 0:  # If the size of the array is 0
        return -1

    latest_version = -1  # Initialize to -1, assuming no correct files are found

    # Regular expression to match the correct file format "File_X"
    pattern = r"File_(\d+)"  # Captures the version number as a group

    for file in S:
        match = re.match(pattern, file)
        if match:  # If the file matches the correct pattern
            version = int(match.group(1))  # Extract the version number
            latest_version = max(latest_version, version)  # Update the latest version

    return latest_version

# Example Usage:
S = ["File_1", "File_2", "File_3"]
input2 = 3

print(find_latest_version(S, input2))  # Output: 3

3